/*Yellow: #FFC107*/
* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  height: 5000px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
/*NAVIGATION STYLING*/
a {
  color: black;
  text-decoration: none;
}
ul {
  /*border-bottom: solid 1px black;*/
  box-shadow: 0 4px 6px -6px black;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  position: fixed;
  text-align: center;
  width: 100%;
}
li {
  display: inline;
  list-style: none;
  width: fit-content;
  margin: 0 2%;
  text-transform: uppercase;
}
li:hover {
  border-bottom: solid 2px #FFC107;
  animation: moveOut .2s linear;
  -webkit-animation: moveOut .2s linear;
}
@-webkit-keyframes moveOut{
    from {padding-bottom: 16px;}
    to {padding-bottom: 12px;}
}

@keyframes moveOut {
    from {padding-bottom: 16px;}
    to {padding-bottom: 12px;}
}
nav {
  text-align: center;
}
.pin-nav {
  position: fixed;
  width: 100%;
}
#root {
  margin: 0;
  height: 100%;
}
.navLogo {
  left: 1%;
  margin-top: -0.5%;
  position: fixed;
  top: 0;
  width: 2%;
}
